// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

ul {
    text-align: center;
    list-style-position: inside;
}


.background-image{
    background-image: url('https://cdn.pixabay.com/photo/2016/03/26/13/09/notebook-1280538_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

img{
    max-width: 100%;
    margin-bottom: 20px;
}

.blog-title{
    margin-left: 20px;
}

footer{
    margin-top: 100px;    
}

ul{
    list-style-type: none;
}

.recent{
    margin-top: 50px;
    background-color: rosybrown;
    height: 60vh;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color:#fff;
}

.blog
{
    margin-top: 120px;
}

.header{
    background-color: #DAA520;
}

.post{
    max-width: 100%;
    margin-bottom: 20px;
}

.mb-50{
    margin-bottom: 50px;
}

.mt-50{
    margin-top: 50px;
}

.create{
    margin-bottom: 40px;
}

.post_image{
    width: 100%;
}

.title{
    outline: 0;
    border-width: 0 0 2px;
    height: 8vh;
    margin-bottom: 60px;
    color: #DAA520;
}

.title:focus{
        border-color: #DAA520;
        color: #DAA520;
}

.description{
    outline: 0;
    border-width: 0 0 2px;
    margin-bottom: 40px;
    height: 12vh;
    font-size: x-large;
}

.description:focus{
    color: #DAA520;
    border-color: #DAA520;
}

.file{
    margin-bottom: 40px;
}

.create{
    font-size: 20px;
}